go 1.24

use (
	.
	./examples/bench
	./examples/bench_nbio
	./examples/bench_pool
	./examples/broadcast
	./examples/broadcast_pool
	./examples/graceful
	./examples/httprpc
	./examples/mempool_fuzzy
	./examples/micro/etcd
	./examples/micro/redis
	./examples/middleware/coder/gzip
	./examples/middleware/coder/msgpack
	./examples/middleware/coder/tracing
	./examples/middleware/router
	./examples/nbio
	./examples/notify
	./examples/pool
	./examples/protocols/kcp
	./examples/protocols/quic
	./examples/protocols/tls
	./examples/protocols/unixsocket
	./examples/protocols/utp
	./examples/protocols/websocket
	./examples/pubsub
	./examples/pubsub_ws_with_nbio
	./examples/rpc
	./examples/stream
	./examples/webchat
	./extension/arpchttp
	./extension/listener
	./extension/micro
	./extension/middleware/coder
	./extension/middleware/router
	./extension/protocol/quic
	./extension/protocol/websocket
	./extension/pubsub
)
